<form action="/example/" method="post" id="codeform"><input type="hidden" id="codetext" name="codetext" value=""></form>
	  <div class="layout ref">
	    <aside>
		  <div id="block-28" class="block">
		    <div class="block_content ">
		      <form action="http://htmlbook.ru/sites/search/" id="filter">
                <input type="search" name="q" id="ac"  placeholder="Тег HTML или св-во CSS"><input type="image" src="img/find.png" alt="Найти" class="find">
              </form>
		    </div>
	      </div>
	      <div id="jquerymenu-1" class="block">
		    <h2 class="block_title">Теги HTML</h2>
			<div class="block_content scroll">
			  <ul class="menu jquerymenu">
			    <li  class="leaf first"><a href="/html">Все теги</a></li>
				<li  class="leaf"><a href="/html/valid">Валидация тегов</a></li>
				<li  class="leaf"><a href="/html/%21--">&lt;!-- --&gt;</a></li>
				<li  class="leaf"><a href="/html/%21doctype">&lt;!DOCTYPE&gt;</a></li>
				<li  class="parent closed"><span class="parent closed"></span><a href="/html/a">&lt;a&gt;</a>
			      <ul>
				    <li  class="leaf first"><a href="/html/a/accesskey" title="">accesskey</a></li>
				    <li  class="leaf"><a href="/html/a/coords">coords</a></li>
				    <li  class="leaf"><a href="/html/a/download">download</a></li>
				    <li  class="leaf"><a href="/html/a/href" title="">href</a></li>
				    <li  class="leaf"><a href="/html/a/hreflang" title="">hreflang</a></li>
				    <li  class="leaf"><a href="/html/a/name" title="">name</a></li>
				  </ul> 
	            </li>
	          </ul>
            </div>	
	      </div>
	      <div id="jquerymenu-2" class="block">
		    <h2 class="block_title">Атрибуты тегов</h2>
			<div class="block_content ">
			  <ul class="menu jquerymenu">
			    <li  class="parent closed first">
				  <span class="parent closed first"></span>
				  <a href="/html/attr/common" title="">Универсальные</a>
				  <ul>
				    <li  class="leaf first">
					  <a href="/html/attr/accesskey" title="">accesskey</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/class" title="">class</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/contenteditable" title="">contenteditable</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/contextmenu" title="">contextmenu</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/dir" title="">dir</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/hidden" title="">hidden</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/id" title="">id</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/lang" title="">lang</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/spellcheck" title="">spellcheck</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/style" title="">style</a>
					</li>
				    <li  class="leaf">
					  <a href="/html/attr/tabindex" title="">tabindex</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/title" title="">title</a>
					</li>
					<li  class="leaf last">
					  <a href="/html/attr/xml-lang" title="">xml:lang</a>
					</li>
				  </ul>
				</li>
				<li  class="parent closed last">
				  <span class="parent closed last"></span>
				  <a href="/html/attr/event" title="">События</a>
				  <ul>
				    <li  class="leaf first">
					  <a href="/html/attr/onblur" title="Событие onblur">onblur</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onchange" title="Событие onchange">onchange</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onclick" title="Событие onclick">onclick</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/ondblclick" title="Событие ondblclick">ondblclick</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onfocus" title="Событие onfocus">onfocus</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onkeydown" title="Событие onkeydown">onkeydown</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onkeypress" title="Событие onkeypress">onkeypress</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onkeyup" title="Событие onkeyup">onkeyup</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onload" title="Событие onload">onload</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onmousedown" title="Событие  onmousedown">onmousedown</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onmousemove" title="Событие onmousemove">onmousemove</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onmouseout" title="Событие onmouseout">onmouseout</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onmouseover" title="Событие onmouseover">onmouseover</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onmouseup" title="Событие onmouseup">onmouseup</a>
					</li>
					<li  class="leaf">
					  <a href="/html/attr/onreset" title="Событие onreset">onreset</a>
					</li>
					<li class="leaf">
					  <a href="/html/attr/onselect" title="Событие onselect">onselect</a>
					</li>
					<li class="leaf">
					  <a href="/html/attr/onsubmit" title="Событие onsubmit">onsubmit</a>
					</li>
					<li  class="leaf last">
					  <a href="/html/attr/onunload" title="Событие onunload">onunload</a>
					</li>
				  </ul>
				</li>
			  </ul>
			</div>
	      </div>
	
	      <div id="menu-menu-value" class="block">
		    <h2 class="block_title">Значения</h2>
			<div class="block_content ">
			  <ul class="menu">
			    <li class="first leaf">
				  <a href="/html/value/script" title="">Скрипт</a>
				</li>
                <li class="leaf">
				  <a href="/html/value/color" title="">Цвет</a>
				</li>
                <li class="leaf">
				  <a href="/html/value/colorname" title="">Названия цветов</a>
				</li>
                <li class="leaf">
				  <a href="/html/value/lang" title="">Коды языков</a>
				</li>
                <li class="last leaf">
				  <a href="/html/value/mime" title="">MIME-типы</a>
				</li>
              </ul>
			</div>
	      </div>
			
          <div id="block-24" class="block">
		    <div class="block_content ">
		      <div id="MarketGidScriptRootC7954">
                <div id="MarketGidPreloadC7954"></div>
		      </div>
	        </div>
		  </div>
		</aside>